<configuration>
    <logger name="io.micronaut.security" level="${FRAMEWORK_LOG_LEVEL:-info}"/>
    <logger name="io.micronaut.context.condition" level="${FRAMEWORK_LOG_LEVEL:-info}"/>
    <logger name="io.micronaut.http.client" level="${FRAMEWORK_LOG_LEVEL:-info}"/>

    <appender name="LOCAL" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL:-info}">
        <appender-ref ref="${LOG_APPENDER:-LOCAL}"/>
    </root>
</configuration>
